{% extends 'base.html' %}
{% block content %}
<div>
    <h1></br>Log in!</h1>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="login">
    </form>
    <div>
        <p> Doesn`t have an account? <a href="/signup"> Create Account </a></p>
    </div>
</div>
{% endblock %}