{% extends "index.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container py-5">
      <style>
        a {
          text-decoration: none;
          color: #fff;
        }
        div#btnParticipate{
          display: flex; 
          justify-content: center; 
          align-items: center;
        }
      </style>
      <div class="row">
        <div class="col">
        </div>
      </div>  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-3 ">
            <div class="card-body text-center">
              <img src="{{user.profile.avatar.url}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <p>
                <!-- Button trigger modal -->
                <button id='change-avatar' type="button" class="btn btn-sm btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#uploadModal">
                  Editar
              </button>
              <!-- Modal -->
              <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Photo</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              {% for message in messages %}
                                  <div class="alert alert-{{ message.tags }} mt-3" role="alert">
                                      {{ message }}
                                  </div>
                              {% endfor %}
                              <form method="POST" enctype="multipart/form-data" action="{% url 'profile' %}">
                                  {% csrf_token %}
                                  <div class="mb-3">
                                      <label for="avatar" class="col-form-label">Select a new photo:</label>
                                      <input type="file" class="form-control" id="avatar" name="avatar">
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button id='submit-avatar' type="submit" class="btn btn-primary">Upload</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
                <!---->
                </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4 ">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Nome de Usuario</p>
                    </div>
                    <div class="col-sm-9">
                      <p id='username' class="text-muted mb-0 text-light">{{user.username}}</p>
                    </div>
                  </div>
                  <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nome Completo</p>
                </div>
                <div class="col-sm-9">
                  <p id='nome' class="text-muted mb-0 text-light">{{user.first_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3 ">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p id='email' class="text-muted mb-0 text-light">{{user.email}}</p>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    <h1>Tribos</h1>
                    <br>
                    {% for tribe in user.tribes.all %}
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button method='GET' id="botao-accordion-{{tribe.slug}}" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.counter }}">
                            {{ tribe.name }}
                          </button>    
                        </h2>
                        <div id="collapseOne{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>{{tribe.bio}}</p> 
                            <br/>
                            <button type="button" class="btn btn-dark btn-sm">
                            <a id="entrar-tribo-{{tribe.slug}}" class="btn btn-dark px-5" href={% url 'entrar_tribo' tribe_slug=tribe.slug %}>Acessar</a>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-6 bg">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    <div class="container">
                      <form action="{% url 'search_tribe' %}" method="GET" class="d-flex justify-content-end">
                        <input id='search-tribe' class="form-control me-2" type="text" name="tribe_search" placeholder="Pesquisar tribo">
                        <button id="search-button" class="btn btn-dark btn-sm" type="submit">Pesquisar</button>
                      </form>
                          <br>
                          <h6 class="d-flex justify-content-center" style="color:#000000; padding-right:40px">ou</h6>
                          <br>
                          <form action="{% url 'create_tribe' %}" method="POST" class="d-flex justify-content-end">
                            {% csrf_token %}
                            <br>
                            <input class="form-control me-2" id="name-tribe" name="name" maxlength="100" type="text" placeholder="Nome da Tribo" required>
                            <button id='criar-tribo' class="btn btn-dark btn-sm" type="submit">Criar</button>
                          </form>           
                          {% if messages %}
                            <div class="alert alert-warning">
                                {% for message in messages %}
                                  <h6 id='tribo-existe' class= '--bs-danger-text-emphasis'>{{ message }}</h6>
                                {% endfor %}
                            </div>
                          {% endif %}                                                            
                      </div>
                  </div>
                </div>
              </div>
  </section>
{% endif %}
{% endblock %}