{% extends "index.html" %}
{% load static %}

{% block content %}
<style>
  .tribe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 20px;
  }
  .tribe-item {
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .tribe-item-inner {
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
  }
  .tribe-title {
    margin-bottom: 0;
  }
  .tribe-description {
    margin-top: 10px;
  }
  .tribe-link {
    text-decoration: none;
    color: white;
    background-color: #343a40;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  .no-tribe {
    text-align: center;
  }
</style>

{% if user.is_authenticated %}

  <div class="tribe-container">
    {% for tribe in tribes %}
      <div class="tribe-item">
        <div class="tribe-item-inner">
          <h3 id='tribe-name' class="tribe-title">{{ tribe.name }}</h3>
          <p class="tribe-description">{{ tribe.bio }}</p>
          <a id="enter-tribe-{{tribe.name}}" href="{% url 'entrar_tribo' tribe_slug=tribe.slug %}" class="tribe-link">Entrar</a>
        </div>
      </div>
    {% empty %}
      <p class="no-tribe">Nenhuma tribo encontrada.</p>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}
