{% extends "index.html" %}
{% load static %}
{% block content %}
<script>
  function goBack() {
    window.history.back();
    setTimeout(function() {
      location.reload();
    }, 2000);
  }
  </script>
  {% if user.is_authenticated %}
  <div class="container py-5">
      <div class="row">
        <div class="col">
          <button id="voltar" class="btn btn-dark btn-sm" onclick="goBack()">🠔 Voltar</button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-3 ">
            <div class="card-body text-center">
              <img src="{{squad.avatar.url}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <p>
              <!-- Button trigger modal -->
              <button id='change-avatar' type="button" class="btn btn-sm btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#uploadModal">
                Editar
              </button>
              <!---->
              <!-- Modal -->
              <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Photo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% if avatar_upload_error %}
                              <div class="alert alert-danger mt-3" role="alert">
                                  {{ avatar_upload_error }}
                              </div>
                          {% endif %}
                            <form method="POST" enctype="multipart/form-data" action="{% url 'detalhes_squad' squad_slug=squad.slug tribe_id=squad.tribe_id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="avatar" class="col-form-label">Select a new photo:</label>
                                    <input type="file" class="form-control" id="avatar" name="avatar">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id='submit-avatar' type="submit" class="btn btn-primary">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
              <!---->
                  </p>
            </div>
          </div>
        </div>
      <div class="col-lg-10">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nome da Squad:</p>
              </div>
              <div class="col-sm-9">
                <p id="nome-squad" class="text-muted mb-0 text-light">{{ squad.name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Criador da squad:</p>
              </div>
              <div class="col-sm-9">
                {% with creator=squad.get_creator %}
                <p class="text-muted mb-0 text-light">{{ creator.first_name }}</p>
                {% endwith %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Descrição:</p>
              </div>
              <div class="col-sm-9">
                <p id='bio-squad' class="text-muted mb-0 text-light d-inline-block">{{ squad.bio }}</p>
                <!-- Button trigger modal -->
                <button id='editar-bio-squad' type="button" class="btn btn-sm btn-dark ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                  Editar
                </button>
                
              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form form method="POST" enctype="multipart/form-data" action="{% url 'detalhes_squad' squad_slug=squad.slug tribe_id=squad.tribe_id %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="bio-text" class="col-form-label">Nova descrição da squad:</label>
                                    <textarea class="form-control" id="bio-text" name="bio" maxlength="500">{{ squad.bio }}</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button id='salvar-bio-squad' type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
        <div class="row">
          <div class="col-md-5-lg-5">
            <div class="card-body">
              <div class="card mb-5 mb-md-5">
                <h2 class="text-center">Integrantes</h2>
                <div class="card-body">
                  <div class="row">
                    <h4>Adicionar Usuário</h4>
                    <form method="POST" action="">
                      {% csrf_token %}
                      <input type="text" name="username" placeholder="Nome de usuário" class="form-control me-2" required>
                      <br/>
                      <button type="submit" class="btn btn-outline-success">Adicionar</button>
                    </form>
                    <p></p> <!-- Apenas para quebra de linha -->
                    <h4>Remover Usuário</h4>
                    <form method="POST" action="">
                      {% csrf_token %}
                      <select name="user_id" required>
                        {% for member in squad.members.all %}
                          <option value="{{ member.id }}">{{ member.username }}</option>
                        {% endfor %}
                      </select>
                      <br/>
                      <br/>
                      <button type="submit" class="btn btn-outline-success">Remover</button>
                    </form>
                    {% for member in squad.members.all %}
                      <div class="col-md-3">
                        <br/>
                          <img src="{{ member.profile.avatar.url }}"
                               alt="avatar"
                               class="card-img-top rounded-circle"
                               style="width: 150px">
                          <div class="card-body">
                            <h6 class="card-title">{{ member.first_name }}</h6>
                          </div>
                      </div>
                      {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div><div class="row">
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}