{% extends "index.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container py-5">
  <style>
    a {
      text-decoration: none;
      color: #fff;
    }
    div#btnParticipate{
      display: flex; 
      justify-content: center; 
      align-items: center;
    }
  </style>
  <div class="row">
    <div class="col">
      <a href="{% url 'profile' %}" class="btn btn-sm btn-dark">🠔 Voltar para o Perfil</a>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
        <div class="col-lg-4">
          <div class="card mb-3 ">
            <div class="card-body text-center">
              <img src="{{tribe.avatar.url}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#uploadModal">
                Editar
              </button>
              <!---->
              <!-- Modal -->
              <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Photo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" enctype="multipart/form-data" action="{% url 'detalhes_tribo' tribe.slug %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="avatar" class="col-form-label">Select a new photo:</label>
                                    <input type="file" class="form-control" id="avatar" name="avatar">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
              <!---->
              </p>
            </div>
          </div>
        </div>
  <div class="col-lg-10">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Nome da Tribo:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0 text-light">{{tribe.name}}
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Editar
              </button>
              <!---->
            </p>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label">Novo nome da tribo:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
            <!---->
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Criador da tribo:</p>
          </div>
          <div class="col-sm-9">
            {% with creator=tribe.get_creator %}
            <p class="text-muted mb-0 text-light">{{ creator.first_name }}</p>
            {% endwith %}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Descrição:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0 text-light">{{tribe.bio}}
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Editar
              </button>
              </p>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" id="bio-form">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="bio-text" class="col-form-label">Nova descrição da tribo:</label>
                                    <textarea class="form-control" id="bio-text" name="bio" maxlength="500">{{ tribe.bio }}</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5-lg-10">
        <div class="card mb-4 mb-md-0">
          <div class="card-body">
            <h1>Squads</h1>
            <br>
            <div class="col">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <div class="container">
                    <h3>Criar Squad</h3>
                    <form action="/tribe/{{tribe.id}}/squad/" method="POST" class="d-flex justify-content-end">
                      {% csrf_token %}
                      <br>
                      <input type="hidden" name="tribe_id" value="{{tribe.id}}">
                      <input class="form-control me-2" id="name" name="name" maxlength="100" type="text" placeholder="Nome da Squad" required>
                      <button class="btn btn-outline-success" type="submit">Criar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="card mb-4 mb-md-0">
              <h3>Squads da Tribo</h3>
              <div class="row row-cols-1 row-cols-md-3 g-3">
                {% for squad in list_squad %}
                  <div class="col mb-4">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Imagem da Squad" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="44%" y="50%" fill="#eceeef" dy=".3em">{{squad.name}}</text>
                      </svg>
                      <div class="card-body" id="btnParticipate">
                        <button type="button" class="btn btn-dark btn-sm">
                          <a class="no-underline" href="{% url 'entrar_squad' squad_slug=squad.slug tribe_id=squad.tribe.id %}">Participar da Squad</a>
                        </button>
                      </div>
                    </div>
                  </div>
              
                  {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    <div class="w-100 d-none d-sm-block"></div>
                  {% endif %}
              
                {% endfor %}
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}