{% extends "index.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container py-5">
      <div class="row">
        <div class="col">
        </div>
      </div>  
        <div class="col-lg-10">
          <div class="card mb-4 ">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Nome da Tribo: </p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0 text-light">nome_da_tribo</p>
                    </div>
                  </div>
                  <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Criador da tribo:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0 text-light">nome_criador_tribo</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3 ">
                  <p class="mb-0">Descrição:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0 text-light">bio_da_tribo</p>
                </div>
              </div>
              <br>
              
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-5-lg-10">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    <h1>Squads</h1>
                    <br>
                    <div class="col">
                      <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <div class="container">
                                <form  class="d-flex justify-content-end">
                                    <input class="form-control me-2" id="id" name="id" maxlength="100" type="text" placeholder="Código da Squad" required>
                                    <button class="btn btn-outline-success" type="submit">Entrar</button>
                                  </form>
                                  <br>
                                  <h6 class="d-flex justify-content-center" style="color:#000000; padding-right:40px">ou</h6>
                                  <br>
                                <form action="/squad/" method="POST" class="d-flex justify-content-end">{% csrf_token %}
                                    <br>
                                    <input class="form-control me-2" id="name" name="name" maxlength="100" type="text" placeholder="Nome da Squad" required>
                                    <button class="btn btn-outline-success" type="submit">Criar</button>
                                  </div>
                                </form>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <div class="card mb-4 mb-md-0">
                      <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                          <div class="col">
                            <div class="card shadow-sm">
                              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Imagem da Squad" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">Imagem da Squad</text></svg>
                              <div class="card-body">
                                <button class="card-text">Nome da Squad</button>
                              </div>
                            </div>
                          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endblock %}