@import url(https://fonts.googleapis.com/css?family=Lato:300);
.login {
  width: 500px;
  padding: 10% 0 0;
  margin: auto;
}
body {
    background-color: #d88f10;
    font-family: "Lato", sans-serif;     
  }
#logo{ 
  position:fixed; 
  top:0; 
  left:0; 
}